#jumbotron {
    background: url('images/max.jpg') !important;
    margin-top: -20px;
    
}
.logo {
    width:28px;
    height:28px;
}
.navbar {
    margin-top: -50px;
}
.footer-style {
    margin-bottom: -100px !important;
}
.text-large {
    font-size: 20px !important;
}
body {
		width: 100%;
		height: 100%;
		background-image: url('3.jpg') !important;
		background-size: cover;
		background-attachment: fixed;
		margin: 0;
		padding: 0;
		}